---
title: 'Freelance Software Engineer'
company: 'Solow-Projects'
from: '2007-04'
to: '2011-01'
tech: PHP, HTML, CSS, JS, MySQL, jQuery
---

Primarily worked on a custom wysiwyg inline-editor CMS (the birth of the name SpoonX), online games (mmorpgs) and featured.ie, a groupon alternative that was successfully sold to a competitor.
